@{
    ViewBag.Title = "Home Page";
}
<div class="aside" id="div-aside">
    @Html.DropDownList("ddlDatabaseName", new SelectList(ViewBag.Data), "Select DataBase", new { @class = "form-control", @id = "ddlDatabaseName", onchange = "getTableNames(this)" })

</div>
    <script>

        /*const { data } = require("jquery");*/
        var treeObject = null;
        function getTableNames(ddlObject) {
            var ddlSelectedValue = ddlObject.value;
            $.ajax(
                {
                    url: '/Home/GetTableName?databaseName=' + ddlSelectedValue,
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        //Text -date children - data.columns.name
                        getColumnNames(JSON.stringify(data), ddlSelectedValue);
                    },
                    error: function () {
                        alert("error");
                    }
                });

        }

        function getColumnNames(tableName, DatabaseName) {
            $.ajax(
                {
                    url: '/Home/GetColumnNames',
                    type: 'GET',
                    data: { TableName: tableName, DatabaseName: DatabaseName },
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var myTree = new TreeView(data);
                        //document.body.appendChild(myTree.root)
                        document.getElementById('div-aside').appendChild(myTree.root);
                        var myTree = new TreeView(data, {
                            showAlwaysCheckBox: false,
                            fold: true,
                            openAllFold: false

                        });
                    },
                    error: function () {
                        alert("error");
                    }
                });
        }

    </script>

